@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

body{
  font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
  margin: 0;
  color: #313131;
}

img{
  outline: none;
  border-style:none;
}

a{
  color: blue;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color:#F5A862;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/******HEADER******/
header {
  display: block;
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
}

header h1 {
  font-size:120%;
  color:#313131;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* 文字の周りに線を描く */
  border: 1px solid #313131;
  /* 線の角に丸みをつける */
  border-radius:5px;
  /* 文字と文字の感覚をあける */
  letter-spacing:3px;
  font-weight:400;
  float: left;
}

/******BRANDING******/
#branding {
  width:60%;
  margin-left:20%;
  overflow:hidden;
  background-color:#313131;
  margin-bottom: 20px;
}

#branding p{
  color:#fff;
  font-size: 120%;
  letter-spacing: 10px;
  /* 行間 */
  line-height: 300px;
  padding-left:3%;
}

/******NAV******/
nav{
  width: 100%;
  border-top: 1px solid orange;
  border-bottom:1px solid orange ;
  margin-bottom: 5px;
  overflow:hidden;
}

/* *, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
} */

nav ul{
  width: 60%;
  margin: auto;
  list-style: none;
}

nav li{
  width: calc(100% / 4);
  border-left: 1px solid orange;
  text-align: center;
  float: left;
  box-sizing: border-box;
}

nav li:last-child{
  border-right: 1px solid orange;
}

nav a{
display: block;
/* ブラウザ標準のリンク装飾をオフに */
text-decoration: none;
font-size: 110%;
/* 文字と文字の感覚を開ける */
letter-spacing: 5px;
font-weight: 400;
line-height: 45px;
}

nav a:hover{
  background-color: orange;
  /* ホバーの動きを滑らかにする */
  transition: 0,5s;
  color:#fff;
}

/******ARTICLE******/
section{
  display: block;
  width: 60%;
  margin: 20px auto;
  overflow: hidden;
}

/* article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
} */

article{
  width: calc(50% - 15px);
  padding: 2.5%;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  overflow:hidden;
  float:left;
}

/* *2の倍数の記事は左側に余白を30px */
article:nth-child(2n){
  margin-left: 30px;
}

article .date{
  font-size: 60%;
  color: orange;
  border: 1px solid orange;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
  letter-spacing: 5px;
  float: left;
}

article h1{
  width: 100%;
  font-size: 150%;
  color: #313131;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 2px;
  border-bottom:1px solid #bababa ;
  margin-bottom: 15px;
  float: left;
}

article p{
  font-size: 100%;
  color: #313131;
  letter-spacing: 3px;
  line-height: 200%;
  margin-bottom: 10px;
  float: left;
}

article .btn{
  color: #fff;
  border:  1px solid orange;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  letter-spacing: 5px;
  /* ブラウザ標準のリンク装飾をオフに */
  text-decoration: none;
  overflow: hidden;
  float: right;
}

article .btn:hover{
  background-color: #fff;
  border:  1px solid orange;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* ホバー時の変化を滑らかに */
  transition: all 0.5s;
  color: orange;
  overflow: hidden;
}

footer{
  font-size: 80%;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #313131;
}

footer address{
  color: #fff;
  letter-spacing: 5px;
  /* 文字の車体を取り消す */
  font-style: normal;
}